<section class="section page">

    <div class="container">
        <div class="columns">

            <div class="column">
                <div class="section-sm">
                    <h1 class="title">Who are you?</h1>
                    <div class="field">
                        <p class="control">
                            <span class="select is-large is-fullwidth">
                                <select>
                                    <option>Student</option>
                                    <option>Teacher</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="section-sm">
                    <h1 class="title">What is your proficiency (level)?</h1>
                    <div class="field">
                        <p class="control">
                            <span class="select is-large is-fullwidth">
                                <select>
                                    <option>Beginner</option>
                                    <option>Intermediate</option>
                                    <option>Advanced</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>


                <div class="section-sm">
                    <h1 class="title">What is your availability?</h1>
                    <div class="field">
                        <div class="field is-grouped">
                          <p class="control">
                            <a class="button">
                              Monday
                            </a>
                          </p>
                          <p class="control">
                            <a class="button">
                              Tuesday
                            </a>
                          </p>
                          <p class="control">
                            <a class="button">
                              Wednesday
                            </a>
                          </p>
                            <p class="control">
                            <a class="button">
                              Thursday
                            </a>
                          </p>
                            <p class="control">
                            <a class="button">
                              Friday
                            </a>
                          </p>
                            <p class="control">
                            <a class="button">
                              Saturday
                            </a>
                          </p>
                             <p class="control">
                            <a class="button">
                              Sunday
                            </a>
                          </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column is-4">

                <form action="/signup" method="POST">
                    <nav class="panel">
                        <p class="panel-heading">
                            Sign Up
                        </p>
                        <div class="panel-body">
                            <div class="field">
                                <label class="label">First Name</label>
                                <p class="control">
                                    <input class="input is-fullwidth" type="text" placeholder="Jane">
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Last Name</label>
                                <p class="control">
                                    <input class="input is-fullwidth" type="text" placeholder="Doe">
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <p class="control">
                                    <input class="input is-fullwidth" type="email" placeholder="you@email.com">
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <p class="control">
                                    <input class="input is-fullwidth" type="password" placeholder="••••••••">
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <p class="control">
                                    <input class="input is-fullwidth" type="password" placeholder="••••••••">
                                </p>
                            </div>
                            <div class="field">
                                <a class="button redBtn is-fullwidth">SIGN UP</a>
                            </div>
                        </div>
                    </nav>
                </form>


            </div>


        </div>
    </div>

</section>