<div id="installModal" class="modal" style="display:none;">
  <div class="modal-background"></div>
  <div class="modal-card" style="margin-top:10%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Install Teacher Chrome Extension</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      The Al-Quran Learning Center chrome extensions allows teachers to share their screen with their students.
    </section>
    <footer class="modal-card-foot">
      <button onclick="installApp()" class="button is-success">Install</button>
      <button onclick="window.location.replace('{{ url_for('dashboard.web') }}')"  class="button">Cancel</button>
    </footer>
  </div>
</div>


<div id="chrome-verification" style="display:none;"></div>

<div class="container page-sm">
  <div class="columns">
      <div class="column is-2">
      	<aside class="menu">
		  <p class="menu-label">
		    Resources
		  </p>
		  <ul class="menu-list">
		  <li><a onclick="setResource('{{url_for('static', filename='resources/textbook/textbook0.pdf')}}#zoom=60', 1, true)">Kaidah</a></li>
		    <li><a onclick="setResource('{{url_for('static', filename='resources/quran/table/page0.pdf')}}#zoom=60', 1, true)">Quran Table of Contents</a></li>
		    <li><a onclick="setResource('{{url_for('static', filename='resources/quran/page0.pdf')}}#zoom=60', 1, true)">Quran</a></li>
		    <li><a onclick="setResource('{{url_for('static', filename='resources/duaas/workbook/duaas0.pdf')}}#zoom=60', 1, true)">Dua'as Workbook</a></li>
		    <li><a onclick="setResource('{{url_for('static', filename='resources/duaas/textbook/duaas0.pdf')}}#zoom=100', 1, true)">Dua'as Textbook</a></li>
		    <li><a onclick="setResource('{{url_for('static', filename='resources/islamic-studies/islamic-studies0.pdf')}}#zoom=60', 1, true)">Islamic Studies</a></li>
		  </ul>
		  <p class="menu-label">
		    Tools
		  </p>
		  <ul class="menu-list">
		    <li><a>Notebook</a></li>
		    <li><a>Sketchpad</a></li>
		    <li><a>Homework</a></li>
		  </ul>
		  <p class="menu-label">
		    Miscellaneous
		  </p>
		  <ul class="menu-list">
		    <li><a></a></li>
		    <li><a></a></li>
		    <li><a></a></li>
		  </ul>
		</aside>
		<script type="text/javascript">
			function setResource(r, p, load){
				//updateResource(r, p, load);
				document.getElementById('resource').data = r;
				document.getElementById('currentPage').innerHTML = p;
				if(load){
					document.getElementById('pages').innerHTML = '';
					var xhttp = new XMLHttpRequest();
					    xhttp.onreadystatechange = function() {
						if (this.readyState === 4 && this.status === 200) {
						    var response = JSON.parse(this.responseText);
						    if(response.status !== "error"){
							var pages = response.response;
							for(var i=0; i<pages.length; i++){
								var pageNum = i+1;
								document.getElementById('pages').innerHTML += '<li><a onclick="setResource(\''+pages[i]+'#zoom=60\', '+pageNum+', false)">Page '+pageNum+'</a></li>';
								document.getElementById('pages').style.height = document.getElementById('resource').style.height;
							}
						    } else {
							console.log(response);	
						    }
						}
					    };
					    xhttp.open("POST", "{{ url_for('dashboard.load_pages') }}", true);
					    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					    xhttp.send("resource="+r);
				}
			}
		</script>

      </div>

      <div class="column">
      	<object id="resource" class="resource" type="application/pdf"></object>
       </div>
	
	<script>
		window.onload = function () {
			setResource('{{url_for('static', filename='resources/textbook/textbook0.pdf')}}#zoom=60', 1, true);
		};	
	</script>

      <div class="column is-one-quarter">
	<aside class="menu">
		<p class="menu-label">Pages (Current Page: <span id="currentPage">0</span>)</p>
        	<ul id="pages" class="menu-list"></ul>
        </aside>
      </div>

      
  </div>
</div>


<div id="bottomRight" style="position:fixed; bottom:16px; right:16px">
  <div class="box">
    <h3 class="subtitle">In Room</h3>

    <div id="inRoom" class="pannel"></div><br>
	
    <div style="position:absolute; z-index:-5000;  opacity:0;">
	{% include 'components/call.html'  %}
    </div> 

    <button class="button is-danger is-fullwidth" onclick="window.location.replace('/')">
      END SESSION
    </button>
  </div>
</div>
