<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard ({{ current_user.account_type }})
      </h1>
      <h2 class="subtitle">
        Welcome, {{ current_user.fname }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">

                <section class="section no-lr">
                    <h3 class="title">
                        Next Session
                    </h3>

                    <article class="message">
                        <div class="message-body">
                            <h5 class="title is-5">
                                Naina
                            </h5>

                        </div>
                    </article>
                </section>

                <section class="section no-lr">
                    <h3 class="title">
                        Schedule
                    </h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Proficiency</th>
                                <th>Available</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Nahian</td>
                                <td>Intermediate</td>
                                <td>Friday (9pm-10pm)</td>
                                <td>
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-book"></i></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-comment"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Naina</td>
                                <td>Intermediate</td>
                                <td>Saturday (10am-11am)</td>
                                <td>
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-book"></i></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-comment"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Naiar</td>
                                <td>Beginner</td>
                                <td>Saturday (7pm-8pm)</td>
                                <td>
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-book"></i></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#">
                                        <span class="icon is-drk"><i class="fa fa-comment"></i></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>


            </div>

            <div class="column">
                <div class="box">
                    <h3 class="title">
                        Announcements
                    </h3>

                    <p>nothing yet...</p>
                </div>


                <div class="box">
                    <h3 class="title">
                        Messages
                    </h3>

                    <!--<p>nothing yet...</p>-->

                    <table class="table">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Subject</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Nahian</td>
                                <td>Question about homework</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>