{% include 'components/dash_head.html' %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                {% include 'components/dash_next_session.html' %}
                {% include 'components/dash_schedule.html' %}                
            </div>

            <div class="column">
                {% include 'components/dash_announcements.html' %}
                {% include 'components/dash_messages.html' %}
            </div>
        </div>
    </div>
</section>