

        <section class="hero bg-hero is-large">
          <div class="hero-body">
            <div class="container">
              <h1 class="title wt-text">
                  <span class="wt-txt">Learn How to Read the Quran Online</span>
              </h1>
              <h2 class="subtitle wt-text">
                  <span class="wt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </h2>

                <a class="button is-large redBtn">Get Started</a>
            </div>
          </div>
        </section>




        <section class="hero is-danger info">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                  <div class="column">
                      <h1 class="title">
                          27
                      </h1>
                      <h3 class="subtitle">
                          TEACHERS
                      </h3>
                  </div>


                  <div class="column">
                      <h1 class="title">
                          104
                      </h1>
                      <h3 class="subtitle">
                          STUDENTS
                      </h3>
                  </div>
              </div>
            </div>
          </div>
        </section>



        <section class="hero is-white is-large">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Large title
              </h1>
              <h2 class="subtitle">
                Large subtitle
              </h2>
            </div>
          </div>
        </section>



        <section class="hero is-light is-large">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Large title
              </h1>
              <h2 class="subtitle">
                Large subtitle
              </h2>
            </div>
          </div>
        </section>