body {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:auto;
}

.nav {
    box-shadow: 0 4px 2px -2px #eeeeee;
    height:110px;
}

.nav-item img {
    max-height: 5.75rem;
}

.bg-hero {
    background-image:url('../img/bg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}


.company-title {
    color:#242424;
    font-weight:bold;
    font-family:verdana;
}

.wt-text {
    color:#ffffff;
    font-weight:bold;
    font-family:verdana;
    text-shadow: 1px 1px #ffffff;
    padding:5px;
}

.wt-txt {
    background: rgba(0, 0, 0, 0.5);
    padding:5px;
}

.redBtn, .redBtn:hover {
    background-color:#b13102;
    color:#ffffff;
    border-color:#b13102;
}

.footer {
    background-color:#242424;
    color:#ffffff;
}

.footer *, .footer a:hover {
    color: #ffffff;
}

.info, .hero.is-danger {
    text-align:center;
    background-color:#b13102;
}

.panel-body {
    border:1px #dedede solid;
    padding:16px;
}

.page {
    padding-top:150px;
    padding-bottom:150px;
}

.page-sm {
    padding-top:50px;
    padding-bottom:50px;
}

.section-sm {
    padding-top:25px;
    padding-bottom:25px;
}

.no-lr {
    padding-left:0;
    padding-right:0;
    padding-top:0;
    margin-top:0;
}

.is-drk {
    color:#242424;
}

.resource {
    min-height:640px;
    height:100%;
    width:100%;
}

.message-body a {
    text-decoration:none;
}


.space-top {
    margin-top: 10px;
}

#status {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

#pages {
    height:100%;
    max-height:650px;
    overflow:hidden;
    overflow-y:auto;
}
