 <footer class="footer">
          <div class="container">

              <div class="columns">
                  <div class="column">
                      <strong>Website</strong><br>
                      <a href="#">Home</a><br>
                      <a href="#">Contact</a><br>
                      <a href="#">Login</a><br>
                      <a href="#">Sign Up</a><br>
                  </div>

                  <div class="column">
                      <strong>Company</strong><br>
                      <a href="#">About</a><br>
                      <a href="#">Careers</a><br>
                      <a href="#">Terms</a><br>
                      <a href="#">Privacy</a><br>
                  </div>

                  <div class="column">
                      <strong>Connect</strong>
                  </div>
              </div>

          </div>
        </footer>


    </body>
</html>